---
---

// add bootstrap variable settings here

@import 'bootstrap';


// add more css stuff here

//body {
//  padding-top: 50px;
//}
//
//.content {
//  padding: 40px 15px;
//}


// pasted from twitter theme

/* Override some defaults */
html, body {
  background-color: #eee;
}
body {
  padding-top: 40px; /* 40px to make the container go all the way to the bottom of the topbar */
}
.container > footer p {
  text-align: center; /* center align it with the container */
  margin-top: 10px;
}
.container {
  width: 820px; /* downsize our container to make the content feel a bit tighter and more cohesive. NOTE: this removes two full columns from the grid, meaning you only go to 14 columns and not 16. */
}

/* The white background content wrapper */
.content {
  background-color: #fff;
  padding: 20px;
  margin: 0 -20px; /* negative indent the amount of the padding to maintain the grid system */
  -webkit-border-radius: 0 0 6px 6px;
     -moz-border-radius: 0 0 6px 6px;
          border-radius: 0 0 6px 6px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
     -moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
          box-shadow: 0 1px 2px rgba(0,0,0,.15);
}

/* Page header tweaks */
.page-header {
  background-color: #f5f5f5;
  padding: 20px 20px 10px;
  margin: -20px -20px 20px;
}

.topbar .btn {
  border: 0;
}


/* tag_box ======================================================== */

.tag_box {
	list-style:none;
	margin:0;
	padding:5px 0 ;
	overflow:hidden;
}
.tag_box li {
	line-height:28px;
}
.tag_box.inline li {
	float:left;
}
.tag_box a {
	padding: 3px 6px;
	margin: 2px;
	background: #eee;
	color:#005F6B;
	border-radius: 3px;
	text-decoration:none;
}
.tag_box a span{
	vertical-align:super;
	font-size:0.8em;
}
.tag_box a.active {
	background:#57A957;
	border:1px solid #4C964D;
	color:#FFF;
}

/* Icons */
@font-face { font-family: 'clemson-icons';
	src: url("../fonts/clemson-icons.eot");
	src: url("../fonts/clemson-icons.eot?#iefix') format('embedded-opentype"), url("../fonts/clemson-icons.woff") format('woff'), url("../fonts/clemson-icons.ttf") format('truetype'), url("../fonts/clemson-icons.svg#clemson-icons") format('svg');
	font-weight: normal;
	font-style: normal;
}
[data-icon]:before {
        font-family: 'clemson-icons';
	content: attr(data-icon);
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
[class*="icon-"] {
	font-family: 'clemson-icons';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.icon-grad-hat:before { content: "\e076"; }
.icon-youtube:before { content: "\e007"; }
.icon-facebook-like:before { content: "\e01f"; }
.icon-pencil:before { content: "\e01e"; }
.icon-search:before, .sidr-class-icon-search:before { content: "\e001"; }
.icon-time:before { content: "\e002"; }
.icon-location:before { content: "\e003"; }
.icon-rss:before { content: "\e004"; }
.icon-facebook:before { content: "\e005"; }
.icon-twitter:before { content: "\e006"; }
.icon-flickr:before { content: "\e008"; }
.icon-tv:before { content: "\e009"; }
.icon-comments:before { content: "\e000"; }
.icon-writer:before { content: "\e00a"; }
.icon-category:before { content: "\e00c"; }
.icon-heart:before { content: "\e00d"; }
.icon-calendar:before { content: "\e00e"; }
.icon-tag:before { content: "\e010"; }
.icon-camera:before { content: "\e011"; }
.icon-refresh:before { content: "\e012"; }
.icon-gift:before { content: "\e00f"; }
.icon-arrow-left:before { content: "\e013"; }
.icon-arrow-right:before { content: "\e014"; }
.icon-arrow-down:before { content: "\e015"; }
.icon-paw:before, .sidr-class-icon-paw:before { content: "\e018"; }
.icon-seal:before { content: "\e016"; }
.icon-seal2:before { content: "\e017"; }
.icon-plus:before { content: "\e019"; }
.icon-close:before { content: "\e01a"; }
.icon-apple:before { content: "\e01c"; }
.icon-pictures:before { content: "\e01d"; }
.icon-menu:before { content: "\f0c9"; }
.icon-pie:before { content: "\e020"; }
.icon-briefcase:before { content: "\e021"; }
.icon-tools:before { content: "\e022"; }
.icon-feather:before { content: "\e023"; }
.icon-google-plus:before { content: "\e024"; }
.icon-pinterest:before { content: "\e025"; }
.icon-foursquare:before { content: "\e026"; }
.icon-linkedin:before { content: "\e027"; }
.icon-wordpress:before { content: "\e028"; }
.icon-newspaper:before { content: "\e029"; }
.icon-atom:before { content: "\e02a"; }
.icon-earth:before { content: "\e02b"; }
.icon-book:before { content: "\e02c"; }
.icon-trophy:before { content: "\e02d"; }
.icon-steps:before { content: "\e02e"; }
.icon-history:before { content: "\e02f"; }
.icon-grid:before { content: "\e030"; }
.icon-heading { width: 41px; height: 41px; display: block; float: left; margin-right: 10px; }
.icon2-book:before { content: url(../images/icons/book.png); }
.icon2-broadcast:before { content: url(../images/icons/broadcast.png); }
.icon2-column:before { content: url(../images/icons/column.png); }
.icon2-dollar-sign:before { content: url(../images/icons/dollar-sign.png); }
.icon2-fountain-pen:before { content: url(../images/icons/fountain-pen.png); }
.icon2-gears:before { content: url(../images/icons/gears.png); }
.icon2-globe:before { content: url(../images/icons/globe.png); }
.icon2-leaf:before { content: url(../images/icons/leaf.png); }
.icon2-lightning-bolt:before { content: url(../images/icons/lightning-bolt.png); }
.icon2-microscope:before { content: url(../images/icons/magnifying-glass.png); }
.icon2-rocket-ship:before { content: url(../images/icons/rocket-ship.png); }
.icon2-shaking-hands:before { content: url(../images/icons/shaking-hands.png); }
.orange-body-button { text-align: center; width: 225px; color: #fff !important; text-decoration: none !important; background-color: rgb(246, 103, 51); padding: 15px 25px; margin: 10px 20px 20px 0; float: left; display: inline; -webkit-box-shadow: rgba(255, 255, 255, 0.498039) 0px 1px 0px 0px inset; border-style: solid;
border-width: 1px; border-color: #ec460a; font-weight: bold;}
.orange-body-button:hover {color: #f66733; background-color: #ec460a;}
